# **1- Import libraries**

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **2- Load Data**

In [28]:
df = pd.read_csv('Foodpanda Analysis Dataset.csv')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      6000 non-null   object
 1   gender           6000 non-null   object
 2   age              6000 non-null   object
 3   city             6000 non-null   object
 4   signup_date      6000 non-null   object
 5   order_id         6000 non-null   object
 6   order_date       6000 non-null   object
 7   restaurant_name  6000 non-null   object
 8   dish_name        6000 non-null   object
 9   category         6000 non-null   object
 10  quantity         6000 non-null   int64
 11  price            6000 non-null   float64
 12  payment_method   6000 non-null   object
 13  order_frequency  6000 non-null   int64
 14  last_order_date  6000 non-null   object
 15  loyalty_points   6000 non-null   int64
 16  churned          6000 non-null   object
 17  rating           6000 non-null   int64
 18  rating_date      6000 non-null   object
 19  delivery_status  6000 non-null   object
dtypes: float64(1), int64(4), object(15)
memory usage: 937.6+ KB

In [30]:
df.head()

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,5,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled
1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,Italian,3,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,2,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed
3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,Dessert,4,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,1,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled

# **3- Analyzing Data:**

# 3.1- Data Types Conversion

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      6000 non-null   object
 1   gender           6000 non-null   object
 2   age              6000 non-null   object
 3   city             6000 non-null   object
 4   signup_date      6000 non-null   object
 5   order_id         6000 non-null   object
 6   order_date       6000 non-null   object
 7   restaurant_name  6000 non-null   object
 8   dish_name        6000 non-null   object
 9   category         6000 non-null   object
 10  quantity         6000 non-null   int64
 11  price            6000 non-null   float64
 12  payment_method   6000 non-null   object
 13  order_frequency  6000 non-null   int64
 14  last_order_date  6000 non-null   object
 15  loyalty_points   6000 non-null   int64
 16  churned          6000 non-null   object
 17  rating           6000 non-null   int64
 18  rating_date      6000 non-null   object
 19  delivery_status  6000 non-null   object
dtypes: float64(1), int64(4), object(15)
memory usage: 937.6+ KB

In [32]:
column = ['signup_date','order_date', 'last_order_date', 'rating_date' ]

for col in column:
    df[col] = pd.to_datetime(df[col], errors='coerce')

# 3.2 Finding missing values

In [33]:
df.isnull().sum()

customer_id        0
gender             0
age                0
city               0
signup_date        0
order_id           0
order_date         0
restaurant_name    0
dish_name          0
category           0
quantity           0
price              0
payment_method     0
order_frequency    0
last_order_date    0
loyalty_points     0
churned            0
rating             0
rating_date        0
delivery_status    0
dtype: int64

# **4- Cleaning Data:**

In [34]:
# Dropping unnecessary columns
df = df.drop(['customer_id', 'order_date' , 'order_frequency','last_order_date', 'rating_date' ], axis=1)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           6000 non-null   object
 1   age              6000 non-null   object
 2   city             6000 non-null   object
 3   signup_date      6000 non-null   datetime64[ns]
 4   order_id         6000 non-null   object
 5   restaurant_name  6000 non-null   object
 6   dish_name        6000 non-null   object
 7   category         6000 non-null   object
 8   quantity         6000 non-null   int64
 9   price            6000 non-null   float64
 10  payment_method   6000 non-null   object
 11  loyalty_points   6000 non-null   int64
 12  churned          6000 non-null   object
 13  rating           6000 non-null   int64
 14  delivery_status  6000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(10)
memory usage: 703.3+ KB